{% extends "base" %}

{% block title %}
<title>TemPSS :: Activate your account</title>
{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>TemPSS User Activation</h1>
			<h4>Thanks for signing in to TemPSS. In order to store and publish
			    your own profiles, you will need to activate your account...
			</h4>
		</div>
	</div>

{% endblock content %}

{% block script %}
<script type="text/javascript">
	$(document).ready( function() {
		log("Activation page ready...")
	});
</script>
{% endblock script %}
