<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TemPSS Sample Profile Manager">
    <meta name="author" content="TemPSS Project Team">
    <!-- <link rel="icon" href="../../favicon.ico">  -->

	<title>Login test page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../temp/css/bootstrap.min.css">  -->

    <!-- Custom styles for this template -->
    <link href="../assets/css/tempss.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <h1>This is the login test page</h1>
      
      <h5>Hello {{ firstname }} {{ surname }}</h5>
      
      {% if user != null %}
      	<h5>You are logged in as user: {{ user.username }}</h5>
      {% else %}
        <h5>You are not currently logged in.</h5>
      {% endif %}
      
      <h4><a href="/tempss/profiles/logout">Logout</a></h4>

    </div><!-- /.container -->

        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- <script src="../temp/js/jquery-1.11.0.min.js"></script> -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- <script src="../temp/js/bootstrap.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>  -->
    
    <!-- Local script file for the template manager app -->
    <script src="../assets/js/tempss-manager.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>

