<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p [%c{1}] %m%n"/>
	</Console>
    </Appenders>

    <Loggers>
        <Logger name="uk.ac.imperial.libhpc2" level="debug" />
	
        <Logger name="org.springframework" level="debug" />

        <Root level="debug">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
