@CHARSET "UTF-8";

/*
 * For file input buttons, see:
 * http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
 */

.btn-file {
  background-color: #f2f2f2;
}

.btn-file:hover {
  background-color: #ededed;
}
.upload-filename[readonly] {
  background-color: #fdfdfd;
}
