body {
    padding-bottom: 30px;
    padding-top: 70px;
}

.navbar-inverse {
	/* background-color: #295AD1; */
	background-color: #222;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    /* background-color: #062E69; */
    background-color: #444;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #d5d5d5;
}

.navbar-inverse .navbar-brand {
    color: #d5d5d5;
}

#profile-list .well {
	min-height: 400px;
}

.loading img {
	width: 16px;
}

.loading span {
	display: inline-block;
	padding-left: 6px;
	font-size: 10px;
	padding-top: 10px;
	color: #777;
}

.infotext {
	color: #888;
}

.profile-type {
	display: inline-block;
	width: 40px;
	max-width: 40px;
}

.profile-item {
	padding: 8px 4px;
}

.profile-item a {
	font-weight: 400;
	text-decoration: none;
	display: inline-block;
	max-width: 200px;
}

.profile-item icon {
	font-weight: 400;
	text-decoration: none;
}

.profile-item a:hover {
	color: #989898;
}

.profile-item .glyphicon {
	/* color: #4290D2; */
	color: #777;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

.profile-item .no-pointer {
	cursor: default;
}

#editing-profile-name {
	color: #777;
}

.tree-control-btn {
	float: right;
	margin-left: 6px;
	cursor: pointer;
	cursor: hand; 
}

.tree-control-btn.disabled {
	cursor: default;
	color: #ddd;
}

.form-error {
	padding-top: 8px;
}

#login-form {
	max-width: 250px;
	padding: 25px 25px;
}

#login-form input {
	margin-bottom: 10px;
	width: 180px;
}

#login-form button {
	width: 100%;
}

#signin-errors {
	height: 50px;
	padding-bottom: 30px;
}

/* Styling for dropdown list items in profile name list */
.dropdown-link {
	cursor: pointer;
}

div.constraint-header, div.constraint-header button {
	display: inline;
	color: #777;
	font-size: 10px;
}

div.constraint-header button {
	margin-bottom: 3px;
	font-size: 9px;
}

div.constraint-header i {
	font-size: 14px;
	color: #444;
	padding-right: 8px;
}

div.constraint-header a {
	font-weight: bold;
}

.constraint-table tbody tr td {
	font-size: 10px;
}

.constraint-table .mapping-key {
	font-weight: bold;
	color: #777;
}

.link-icon {
	margin-left: 10px;
	cursor: pointer;
}