body {
    padding-bottom: 30px;
    padding-top: 70px;
}

.navbar-inverse {
	background-color: #295AD1;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #062E69;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #d5d5d5;
}

.navbar-inverse .navbar-brand {
    color: #d5d5d5;
}

#profile-list .well {
	min-height: 400px;
}

.loading img {
	width: 16px;
}

.loading span {
	display: inline-block;
	padding-left: 6px;
	font-size: 10px;
	padding-top: 10px;
	color: #777;
}

.infotext {
	color: #888;
}

.profile-item {
	padding: 8px 12px;
}

.profile-item a {
	font-weight: 600;
	text-decoration: none;
}

.profile-item a:hover {
	color: #989898;
}

.profile-item .glyphicon {
	/* color: #4290D2; */
	color: #777;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}