@CHARSET "UTF-8";
/*
body {
	padding: 10px 20px;
}
*/

h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14pt;
	color: #444;
}

.schemaitem {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14pt;
	color: #444;
	font-weight: bold;
	padding: 20px 50px;
}

.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    margin-right: 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    /* height:30px */
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}

.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

.badge select {
	color: #000000;
}

.disabled .badge {
    background-color: #ededed;
    color: #000000;
}

/* ul.valid {
  background-image:url('../img/valid.png');
  background-repeat:no-repeat;
  background-size: Auto 10px;
  background-position: 33px 7px;
} */

ul {
	position: relative;
}

ul.valid li span:first-child:before {
  content:"\e089";
  font-family:"Glyphicons Halflings";
  position: absolute;
  top: 8px;
  left: -14px;
  color: #46A939;
  font-size: 1.2em;
}

ul.invalid li span:first-child:before {
  content:"\e088";
  font-family:"Glyphicons Halflings";
  position: absolute;
  top: 8px;
  left: -14px;
  color: #E52638;
  font-size: 1.2em;
}

/* Styling for toggle and plus/minus buttons */
span.toggle_button {
  font-size: 0.75em;
  background-color: #ededed;
  margin-left: 0.5em;
}

i.enable_button::before {
  color: #E52638;
  content: "\f204"; /* toggle-off */ 
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
}

i.disable_button::before {
  color: #46A939;
  content: "\f205"; /* toggle-on */
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
}

span.repeat_button {
  font-size: 0.8em;
  background-color: #ededed;
  margin-left: 0.5em;
}

i.repeat_button_add::before {
    color: #46A939;
    content: "\f067";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
}

i.repeat_button_remove::before {
    color: #E52638;
    content: "\f068";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
}

span.toggle_button {
	margin-left: 0px;
}

span.repeat_button {
	margin-left: 0px;
}

